.companion-home-background {
    background-color: #040228;
    width: 100vw;
    height: 100vw;
}

.companion-home-odyssey {
    color: #FC9E4F;
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 5px;
}

.companion-home-banner {
    color: #C4C4C4;
    padding-left: 145px;
    letter-spacing: 5px;
    
}

.move-banner {
    padding-top: 100px
}

.special-text {
    color:#FC9E4F;
}

.companion-home-consult {
    color: #619B8A;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 100px;
}

.companion-home-lower-text {
    color: #C4C4C4;
    letter-spacing: 2px;
    padding-top: 50px;

}

.companion-select-container {
    padding-top: 50px;
}

.btn-companion { 
    background-color: #619B8A;
    height: 100px;
    width: 250px;
    border: none;
    border-radius: 4px;
    color: white;
  }
  
  .btn-companion:hover {
    background-color:#2c6e5a
  }

  