.main-nav {
    background-color: #020122;
}

/* .main-logo {
    padding-left: 75px;
  } */

.nav-item-text{
    padding-left: 20px; 
    font-size: 16px;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 2px;
    color: #619B8A;
  }

  .navbar-nav {
    justify-content: center !important;
  }

  .title {
    letter-spacing: 4px;
    font-size: 40px;
    color: #FC9E4F;
    padding-left: 30px;
  }

  .navbar-toggler {
    color: #619B8A
  }

  #home-nav-link {
    text-shadow: #000;
    color: #619B8A;
  }

  .navbar-toggler-icon {
    color: #619B8A 
  }
  
  .navbar {
    padding-left: 50px !important;
    position: absolute;
  }

  li #nav-text {
    font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
  }
  